
body {
  background: #eee;
  font-family: sans-serif;
  margin: 1em;
}

main {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.card {
  background: white;
  padding: 1em;
  border-radius: 4px;
}

table {
  text-align: left;
}

td {
  min-width: 100px;
  max-width: 200px;
  padding: 2px 4px;
}