
body {
  background: #eee;
  font-family: sans-serif;
}

main {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

a {
  margin: 6px;
}

#menu {
  margin: 1em;
}

.p {
  padding: 0.5em;
}

.card {
  background: white;
  border-radius: 0.5em;
  margin: 1em;
  box-shadow: 0 2px 0.25em #0004;
  overflow: auto;
  max-height: calc(100vh - 180px);
}

input {
  border: none;
  text-align: center;
  width: 100%;
  background: none;
  font-size: 1em;
  border-radius: 0.5em;
  padding: 0.5em 0;
  transition: 200ms;
}

input:focus {
  outline: none;
  box-shadow: 0 4px 0.5em #0002;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th, td {
  max-width: 200px;
  padding: 0.5em 1em;
}

td {
  border-top: 1px solid #EEE;
}